   <div class="card" data-id="<%= portofolio_item.id %>">
      <%= image_tag portofolio_item.thumb_image unless portofolio_item.thumb_image.nil? %>
  <p class="card-text">
    <span><%= link_to portofolio_item.title, portofolio_show_path(portofolio_item.id) %></span> <%= portofolio_item.subtitle %>
 </p>
</div>