<%= image_tag @portofolio_item.main_image  unless @portofolio_item.main_image.nil? %>
<h1><%=  @portofolio_item.title %></h1>
<em><%=  @portofolio_item.subtitle %></em>
<p><%=  @portofolio_item.body %></p>