<div class="row">
    <div class="col-md-4">
        <%= image_tag "profile.jpeg", width: 300%>
    </div>
    <div class="col-md-8">
        <h1>About Me</h1>
        <p>I grew up in Latin America, originally from Panama 
          so I spent most of my days speaking Spanish until I learned Ruby and Javascript. 
         So Hola al Mundo! or should I say console.log("Hello World") :)?</p>
    </div>
    
</div>

