<div class="row">
    <div class="col-md-4">
     <%= image_tag "ricepad.JPG", width: "320px", class:"profile-image"%>
    </div>
    <div class="col-md-8">
        <h1>Hi, </h1>
        <br>
        <p> I'm Krystal, graduated with a CS degree last fall, currently working on my craft in Silicon Valley. I'm also an avid rice eater (^.^)'.</p>
        <p> Check out my  <a style=" text-decoration; color:#FFFF00" href="https://github.com/ricepad"> github</a></p>
    </div>


</div>

