<div class="row">
    <div class="col-md-4">
        <%= image_tag "profile.jpeg", width: 300%>
    </div>
    <div class="col-md-8">
        <h1>Hi, </h1>
        <br>
        <p> I'm Jonathan, I was born and grew up my whole life in Latin America, originally from Panama. so I spent most of my days speaking Spanish until I learned Ruby and Javascript. 
        I'm an internet-taught full stack developer en route to becoming a software engineer. In my spare time, I make apps using technologies like ReactJS, ReactNative, Ruby On Rails and plenty more. 
        So Hola Mundo! or should I say console.log("Hello World") :)?</p>
        <br>
        <p> Check out my  <a style=" text-decoration; color:#FFFF00" href="https://github.com/wiredhereli"> github</a></p>
    </div>


</div>

